Repository emmanuelknafo/AiStockTradeApp: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml

Path conditions:
  .azuredevops/pipelines/alt-load-tests.yaml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/alt-load-tests.yml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/ci-cd.yml: any file but: **.md, **/README.md, docs, scripts, AiStockTradeApp/scripts, *.txt, .gitignore, .vscode, .vs, .github, AGENTS.md, LICENSE, data, AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/alt-config.yml, .azuredevops/pipelines/infrastructure.yml, load-tests, infrastructure
  .azuredevops/pipelines/cli-ci.yml: any of: AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml
  .azuredevops/pipelines/load-tests.yml: any of: load-tests, .azuredevops/pipelines/load-tests.yml

feat: add masked environment diagnostics to enhance security and visibility of sensitive variables
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: add environment variables to .env creation and diagnostics for Azure OpenAI integration
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: patch Changelog-Weaver model to use module-level OpenAI API for Azure compatibility
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance Azure DevOps pipeline to publish changelog to Wiki with improved diagnostics and error handling
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: update Azure DevOps pipeline to include steps for cloning and installing Changelog-Weaver dependencies
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance Azure DevOps pipeline to create .env for Changelog-Weaver and add Azure OpenAI pre-flight test
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: add changelog detection and publishing to Azure DevOps Wiki
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance changelog generation to resolve wiki identifiers dynamically
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: update changelog pipeline to use 'wikiMaster' branch and derive wiki ID from project name
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance wiki identifier resolution in changelog generation
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: improve wiki identifier resolution in changelog generation
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance wiki identifier resolution and error handling in changelog generation
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: add fallback mechanisms for wiki identifier resolution in changelog generation
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance wiki identifier resolution with direct input handling and improved fallback mechanisms
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance wiki publishing with fallback mechanisms for identifier resolution
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: update authentication method for wiki API calls to use basic auth
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: implement PowerShell script for publishing to Azure DevOps Wiki and update changelog generation workflow
  .azuredevops/pipelines/generate-changelog.yml
  scripts/AiStockTradeApp-vmain.md
  scripts/publish-wiki.ps1
Due: .azuredevops/pipelines/ci-cd.yml

fix: update PAT variable in wiki publishing script to use AZURE_DEVOPS_PAT
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: add wiki path, identifier, and branch variables to changelog generation pipeline
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

fix: correct workflow triggers for load tests to ensure proper execution on branch pushes
  .github/workflows/load-tests.yml
Due: none

Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

Disable scheduled CodeQL analysis
  .github/workflows/codeql.yml
Due: none

Add contributing guide with detailed instructions
  CONTRIBUTING.md
Due: none

Add GNU GPL v3 license
  LICENSE
Due: none

Create SECURITY.md for security policy
  SECURITY.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

ci(pipeline): use GitVersion /showvariable FullSemVer to avoid jq dependency and normalize v-prefix
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

ci: GitVersion v5 + /showvariable, semver sanity, use tag for release version
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

refactor: Improve readability of GitVersion handling in changelog generation script
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

refactor: Simplify FullSemVer extraction in changelog generation script
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

ci: Configure git identity for tagging in changelog generation
  .azuredevops/pipelines/generate-changelog.yml
Due: .azuredevops/pipelines/ci-cd.yml

still showing placehoders
  AiStockTradeApp.Services/Implementations/AIAnalysisService.cs
  AiStockTradeApp/AiStockTradeApp.csproj
  AiStockTradeApp/Controllers/HomeController.cs
  AiStockTradeApp/Program.cs
  AiStockTradeApp/Resources/SharedResource.cs
  AiStockTradeApp/Resources/SharedResource.en.resx
  AiStockTradeApp/Resources/SharedResource.fr.resx
  AiStockTradeApp/Resources/SharedResource.resx
  AiStockTradeApp/Views/Home/Index.cshtml
  AiStockTradeApp/Views/ListedStocks/Index.cshtml
  AiStockTradeApp/Views/Shared/_FooterVersion.cshtml
  AiStockTradeApp/Views/Shared/_Layout.cshtml
  AiStockTradeApp/Views/Stock/Dashboard.cshtml
  copilot-instructions.md
Due: .azuredevops/pipelines/ci-cd.yml

fixes AB#1335
  AiStockTradeApp.Tests/Controllers/HomeControllerTests.cs
  AiStockTradeApp/Controllers/HomeController.cs
  AiStockTradeApp/Program.cs
  AiStockTradeApp/Services/SimpleStringLocalizer.cs
  AiStockTradeApp/Views/ListedStocks/Index.cshtml
Due: .azuredevops/pipelines/ci-cd.yml

fixes failing unit test
  AiStockTradeApp.Services/Implementations/AIAnalysisService.cs
Due: .azuredevops/pipelines/ci-cd.yml

Update AiStockTradeApp/Services/SimpleStringLocalizer.cs
  AiStockTradeApp/Services/SimpleStringLocalizer.cs
Due: .azuredevops/pipelines/ci-cd.yml

Enhance localization support by updating project descriptions and implementing a custom string localizer with embedded translations for English and French.
  copilot-instructions.md
Due: none

Add unit tests for ListedStock, ApiStockDataServiceClient, CacheCleanupService, HistoricalPriceService, and ListedStockService
  .github/copilot-instructions.md
  .gitignore
  AiStockTradeApp.Tests/Controllers/ListedStocksControllerTests.cs
  AiStockTradeApp.Tests/Controllers/VersionControllerTests.cs
  AiStockTradeApp.Tests/Integration/ControllersIntegrationTests.cs
  AiStockTradeApp.Tests/Models/AdditionalViewModelsTests.cs
  AiStockTradeApp.Tests/Models/HistoricalPriceTests.cs
  AiStockTradeApp.Tests/Models/ListedStockTests.cs
  AiStockTradeApp.Tests/Services/ApiStockDataServiceClientTests.cs
  AiStockTradeApp.Tests/Services/CacheCleanupServiceTests.cs
  AiStockTradeApp.Tests/Services/HistoricalPriceServiceTests.cs
  AiStockTradeApp.Tests/Services/ListedStockServiceTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add comprehensive load testing framework for AI Stock Trading API
  jmeter-script.jmx
  load-tests/.env.example
  load-tests/README.md
  load-tests/azure-load-test-config.yaml
  load-tests/jmeter/comprehensive-api-test.jmx
  load-tests/locust/api_load_test.py
  load-tests/quick-start.ps1
  load-tests/requirements.txt
  load-tests/run-load-test.ps1
  load-tests/start-load-test.ps1
  load-tests/test-data/stock_symbols.csv
  load-tests/test-data/test_users.csv
  locustfile.py
  requirements.txt
  simple-request-1.http
  simple-request.http
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/load-tests.yml

Implement comprehensive logging framework with middleware and structured logging extensions - fixes AB#1384
  AiStockTradeApp.Services/Implementations/ApiStockDataServiceClient.cs
  AiStockTradeApp.Services/LoggingExtensions.cs
  AiStockTradeApp/Controllers/HomeController.cs
  AiStockTradeApp/Controllers/StockController.cs
  AiStockTradeApp/Middleware/RequestLoggingMiddleware.cs
  AiStockTradeApp/Program.cs
  AiStockTradeApp/appsettings.Development.json
  AiStockTradeApp/appsettings.Production.json
  AiStockTradeApp/appsettings.json
  AiStockTradeApp/docs/LOGGING_IMPLEMENTATION.md
Due: .azuredevops/pipelines/ci-cd.yml
