Repository emmanuelknafo/AiStockTradeApp: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/publish-mcpserver.yml, .azuredevops/pipelines/selenium-tests.yml

.azuredevops/pipelines/alt-load-tests.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: LoadTest
    displayName: Load Test
    jobs:
    - job: LoadTest
      displayName: Load Test
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: AzureLoadTest@1
        inputs:
          azureSubscription: svc_CSA_sub
  ...

.azuredevops/pipelines/alt-load-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: LoadTest
    displayName: Load Test
    jobs:
    - job: LoadTest
      displayName: Load Test
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'echo "Preparing load test files"
  
  ...

.azuredevops/pipelines/ci-cd.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: Test
    displayName: Run Tests
    jobs:
    - job: TestJob
      displayName: Run Tests
      steps:
      - checkout: self
        displayName: Checkout code
        fetchDepth: 0
        persistCredentials: true
        clean: true
      - task: Bash@3
  ...

.azuredevops/pipelines/cli-ci.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: Test
    displayName: Test CLI and Solution
    jobs:
    - job: TestCli
      displayName: Build CLI and run smoke test
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
  - stage: SmokeDev
    displayName: Smoke test Development API
  ...

.azuredevops/pipelines/load-tests.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly Smoke Locust
    branches:
      include:
      - main
    always: true
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: LocustAndJMeter
    displayName: Load Tests
    jobs:
    - job: locust
      displayName: Locust (${{ parameters.scenario }})
  ...

.azuredevops/pipelines/publish-mcpserver.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: PublishMcpServer
    displayName: Build and Publish MCP Server Package
    jobs:
    - job: PublishJob
      displayName: Build and Publish MCP Server
      steps:
      - checkout: self
        displayName: Checkout repository
        fetchDepth: 0
  ...

.azuredevops/pipelines/selenium-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: SeleniumTests
    displayName: Selenium UI Tests
    jobs:
    - job: run_selenium
      displayName: Run Selenium Tests
      timeoutInMinutes: 60
      steps:
      - checkout: self
        fetchDepth: 0
      - task: UseDotNet@2
  ...

Add Remove-ProcessesOnPort function and enhance Start-ApiInNewWindow parameters for better process management
  load-tests/run-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Refactor run-selenium-tests and start scripts to improve CI compatibility and process handling
  scripts/run-selenium-tests.ps1
  scripts/start.ps1
Due: .azuredevops/pipelines/selenium-tests.yml

Enhance Selenium tests pipeline parameters for improved filtering and process control
  .azuredevops/pipelines/selenium-tests.yml
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/selenium-tests.yml

Add ForceKill parameter to load test scripts for enhanced process management
  load-tests/run-load-test.ps1
  load-tests/start-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Refactor Selenium pipeline parameters to simplify filtering with expression-based input
  .azuredevops/pipelines/selenium-tests.yml
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/selenium-tests.yml

ok
  .azuredevops/pipelines/selenium-tests.yml
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/selenium-tests.yml

Fix parameter evaluation in Selenium test script execution for accurate boolean handling
  .azuredevops/pipelines/selenium-tests.yml
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/selenium-tests.yml

Refactor process cleanup logic in Selenium scripts for improved OS detection and shutdown handling
  scripts/run-selenium-tests.ps1
  scripts/start.ps1
Due: .azuredevops/pipelines/selenium-tests.yml

Add inline launch support for CI to prevent lingering STDIO handles
  scripts/run-selenium-tests.ps1
  scripts/start.ps1
Due: .azuredevops/pipelines/selenium-tests.yml

Remove AutoStart and ForceKill switches from load test launcher; lifecycle management is now handled automatically
  load-tests/start-load-test.ps1
  scripts/run-selenium-tests.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/selenium-tests.yml

Remove Windows-only WindowStyle parameter from Start-LocalProcesses for cross-platform compatibility
  scripts/start.ps1
Due: none

Add .ci-dotnet-pids to .gitignore for CI process management
  .gitignore
Due: none

Implement methods to remove all symbols from the watchlist and wait for the empty state in DashboardPage; enhance test reliability by clearing persisted state in AuthenticatedWatchlistTests.
  AiStockTradeApp.SeleniumTests/Pages/DashboardPage.cs
  AiStockTradeApp.SeleniumTests/Tests/AuthenticatedWatchlistTests.cs
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/selenium-tests.yml

Increase timeout for adding symbols and implement WaitUntilLoaded method for better dashboard loading reliability
  AiStockTradeApp.SeleniumTests/Pages/DashboardPage.cs
  AiStockTradeApp.SeleniumTests/Tests/AuthenticatedWatchlistTests.cs
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/selenium-tests.yml

Enhance CI script: update password parameter description, rename Kill-DotnetAppProcesses to Stop-DotnetAppProcesses, and add final process cleanup steps to prevent lingering dotnet processes.
  scripts/run-selenium-tests.ps1
Due: .azuredevops/pipelines/selenium-tests.yml

Enforce clean slate before starting application and verify termination of existing dotnet processes for AiStockTradeApp
  scripts/run-selenium-tests.ps1
  scripts/start.ps1
Due: .azuredevops/pipelines/selenium-tests.yml

Add proactive cleanup of stale AiStockTradeApp.Api processes in local environment
  load-tests/run-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Enhance local environment cleanup: ensure all dotnet processes are terminated before load testing, with improved messaging and secondary cleanup sweep.
  load-tests/run-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Enhance CI cleanup: implement final termination of lingering dotnet processes and ensure immediate exit to prevent STDIO wait.
  load-tests/run-load-test.ps1
  scripts/run-selenium-tests.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/selenium-tests.yml

Enhance API health check: improve AutoStart logic and dynamic port detection for local environment
  load-tests/run-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Enhance local process startup: add output redirection for API, UI, and MCP server to prevent ADO hang and improve error handling
  scripts/start.ps1
Due: none

Enhance Selenium UI Tests pipeline: append build ID to test run title for better traceability
  .azuredevops/pipelines/load-tests.yml
  .azuredevops/pipelines/selenium-tests.yml
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/selenium-tests.yml

Enhance load test launcher: ensure original directory is restored on failure and improve directory handling during execution
  load-tests/start-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Enhance stop script: implement comprehensive cleanup for dotnet processes and docker environment, with options for volume removal and improved user prompts.
  scripts/stop.ps1
Due: none

Set up CI with Azure Pipelines
  .azuredevops/pipelines/auto-test-plan.yml
Due: .azuredevops/pipelines/ci-cd.yml

Update auto-test-plan.yml for Azure Pipelines
  .azuredevops/pipelines/auto-test-plan.yml
Due: .azuredevops/pipelines/ci-cd.yml

Path conditions:
  .azuredevops/pipelines/alt-load-tests.yaml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/alt-load-tests.yml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/ci-cd.yml: any file but: **.md, **/README.md, docs, scripts, AiStockTradeApp/scripts, *.txt, .gitignore, .vscode, .vs, .github, AGENTS.md, LICENSE, data, AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/alt-config.yml, .azuredevops/pipelines/infrastructure.yml, load-tests, infrastructure
  .azuredevops/pipelines/cli-ci.yml: any of: AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml
  .azuredevops/pipelines/load-tests.yml: any of: load-tests, AiStockTradeApp.Api, .azuredevops/pipelines/load-tests.yml, but not: **/*.mcp.json
  .azuredevops/pipelines/publish-mcpserver.yml: any of: AiStockTradeApp.McpServer, .azuredevops/pipelines/publish-mcpserver.yml, but not: AiStockTradeApp.McpServer/**/*.md, **/*.mcp.json
  .azuredevops/pipelines/selenium-tests.yml: any of: AiStockTradeApp.SeleniumTests, AiStockTradeApp, scripts/run-selenium-tests.ps1, .azuredevops/pipelines/selenium-tests.yml
