Repository emmanuelknafo/AiStockTradeApp: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/publish-mcpserver.yml

.azuredevops/pipelines/alt-load-tests.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: LoadTest
    displayName: Load Test
    jobs:
    - job: LoadTest
      displayName: Load Test
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: AzureLoadTest@1
        inputs:
          azureSubscription: svc_CSA_sub
  ...

.azuredevops/pipelines/alt-load-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: LoadTest
    displayName: Load Test
    jobs:
    - job: LoadTest
      displayName: Load Test
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'echo "Preparing load test files"
  
  ...

.azuredevops/pipelines/ci-cd.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: Test
    displayName: Run Tests
    jobs:
    - job: TestJob
      displayName: Run Tests
      steps:
      - checkout: self
        displayName: Checkout code
        fetchDepth: 0
        persistCredentials: true
        clean: true
      - task: Bash@3
  ...

.azuredevops/pipelines/cli-ci.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: Test
    displayName: Test CLI and Solution
    jobs:
    - job: TestCli
      displayName: Build CLI and run smoke test
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
  - stage: SmokeDev
    displayName: Smoke test Development API
  ...

.azuredevops/pipelines/load-tests.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: LoadTests
    displayName: Run JMeter load tests
    jobs:
    - job: RunJMeter
      displayName: Run JMeter (Docker)
      pool:
        vmImage: $(vmImageName)
      steps:
      - checkout: self
      - script: 'echo "Listing test directory"
  
  ...

.azuredevops/pipelines/publish-mcpserver.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: PublishMcpServer
    displayName: Build and Publish MCP Server Package
    jobs:
    - job: PublishJob
      displayName: Build and Publish MCP Server
      steps:
      - checkout: self
        displayName: Checkout repository
        fetchDepth: 0
  ...

Auto-increment MCP Server version to 1.0.0-beta.5
  AiStockTradeApp.McpServer/.mcp/server-nuget.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.5 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.6 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.7 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Add batch trigger support to multiple Azure DevOps pipeline configurations
  .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/ci-cd.yml
  .azuredevops/pipelines/cli-ci.yml
  .azuredevops/pipelines/infrastructure.yml
  .azuredevops/pipelines/load-tests.yml
  .azuredevops/pipelines/publish-mcpserver.yml
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/publish-mcpserver.yml

Add concurrency settings to workflows to cancel in-progress runs on new commits
  .github/workflows/alt-load-tests.yml
  .github/workflows/ci-cd.yml
  .github/workflows/cli-ci.yml
  .github/workflows/codeql.yml
  .github/workflows/config-validation.yml
  .github/workflows/docs.yml
  .github/workflows/generate-changelog.yml
  .github/workflows/infrastructure.yml
  .github/workflows/load-tests.yml
  .github/workflows/publish-mcpserver.yml
  .github/workflows/test-job-outputs.yml
Due: none

minor cleanup
  AiStockTradeApp.McpServer/.mcp/server-original.json
  AiStockTradeApp.McpServer/.mcp/server.json
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.8
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.8 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Add comprehensive domain and view models for AiStockTradeApp.Entities
  .github/copilot-instructions.md
  AiStockTradeApp.Api/README.md
  AiStockTradeApp.DataAccess/README.md
  AiStockTradeApp.Entities/README.md
  AiStockTradeApp.McpServer/README.md
  AiStockTradeApp/README.md
  README.md
Due: none

Auto-increment MCP Server version to 1.0.0-beta.9 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Reorganize .mcp.json structure for clarity and maintainability
  .mcp.json
Due: .azuredevops/pipelines/ci-cd.yml

Exclude .mcp.json files from triggering workflows in Azure DevOps and GitHub Actions
  .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/ci-cd.yml
  .azuredevops/pipelines/cli-ci.yml
  .azuredevops/pipelines/infrastructure.yml
  .azuredevops/pipelines/load-tests.yml
  .azuredevops/pipelines/publish-mcpserver.yml
  .github/workflows/alt-load-tests.yml
  .github/workflows/ci-cd.yml
  .github/workflows/cli-ci.yml
  .github/workflows/codeql.yml
  .github/workflows/config-validation.yml
  .github/workflows/docs.yml
  .github/workflows/infrastructure.yml
  .github/workflows/load-tests.yml
  .github/workflows/publish-mcpserver.yml
  .github/workflows/test-job-outputs.yml
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/publish-mcpserver.yml

Enhance stock management tests with improved wait conditions and error handling
  AiStockTradeApp.UITests/PageObjects/StockDashboardPage.cs
  AiStockTradeApp.UITests/Tests/StockDashboardPageObjectTests.cs
  AiStockTradeApp.UITests/Tests/StockManagementTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Update MCP Server port mapping and environment variables for correct exposure
  docker-compose.yml
Due: .azuredevops/pipelines/ci-cd.yml

Update BaseUITest and enhance stock addition tests
  AiStockTradeApp.UITests/BaseUITest.cs
  AiStockTradeApp.UITests/TestSetupHelper.cs
  AiStockTradeApp.UITests/Tests/DebugStockAdditionTests.cs
  AiStockTradeApp.UITests/Tests/StockDashboardPageObjectTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Refactor UI tests for improved error handling and performance
  AiStockTradeApp.UITests/PageObjects/StockDashboardPage.cs
  AiStockTradeApp.UITests/Tests/DebugStockAdditionTests.cs
  AiStockTradeApp.UITests/Tests/PerformanceTests.cs
  AiStockTradeApp.UITests/Tests/StockDashboardPageObjectTests.cs
  AiStockTradeApp.UITests/Tests/StockManagementTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add mock stock data service and integrate fallback mechanisms for API failures
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp.Api/appsettings.Development.json
  AiStockTradeApp.Api/appsettings.json
  AiStockTradeApp.Services/Implementations/HistoricalPriceService.cs
  AiStockTradeApp.Services/Implementations/MockStockDataService.cs
  AiStockTradeApp.Services/Implementations/StockDataService.cs
  AiStockTradeApp.Services/Interfaces/IMockStockDataService.cs
  AiStockTradeApp.Tests/Services/HistoricalPriceServiceTests.cs
  AiStockTradeApp.Tests/Services/StockDataServiceTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Refactor AddStock test to improve notification handling and add fallback verification for stock addition
  AiStockTradeApp.UITests/Tests/StockDashboardPageObjectTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Enable mock data fallback in CI/CD for API credit exhaustion handling
  .azuredevops/pipelines/ci-cd.yml
  .github/workflows/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

Implement persistent data protection keys for authentication across container restarts
  .gitignore
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp.Api/appsettings.json
  AiStockTradeApp/Program.cs
  AiStockTradeApp/appsettings.json
  DATA_PROTECTION_SETUP.md
  docker-compose.yml
  infrastructure/main.bicep
  scripts/test-data-protection.ps1
Due: .azuredevops/pipelines/ci-cd.yml

Refactor dependency injection for mock stock data service and enhance data protection configuration for container environments
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp.Tests/Services/HistoricalPriceServiceTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

work on dpapi
  AiStockTradeApp.Api/Dockerfile
  AiStockTradeApp/Dockerfile
  AiStockTradeApp/Program.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add RemoveVolumes parameter to Docker startup script and create test script for command logic
  scripts/start.ps1
  test-docker-logic.ps1
Due: .azuredevops/pipelines/ci-cd.yml

Enhance Docker support by updating port mappings to avoid conflicts and adding a helper script for SQL Server connection details
  README.md
  docker-compose.override.yml
  docker-compose.yml
  scripts/connect-to-docker-sql.ps1
  scripts/start.ps1
Due: .azuredevops/pipelines/ci-cd.yml

Remove in-memory database environment variable from Dockerfile and add comprehensive SQL Server port configuration documentation
  AiStockTradeApp/Dockerfile
  DOCKER_SQL_PORT_CONFIGURATION.md
Due: .azuredevops/pipelines/ci-cd.yml

Adjust performance thresholds in stock addition tests for CI environments
  AiStockTradeApp.UITests/Tests/PerformanceTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add defensive null checks in HistoricalPriceService to prevent exceptions
  AiStockTradeApp.Services/Implementations/HistoricalPriceService.cs
Due: .azuredevops/pipelines/ci-cd.yml

Refactor HistoricalPriceServiceTests to ensure graceful handling of null values and remove obsolete test scripts
  AiStockTradeApp.Tests/Services/HistoricalPriceServiceTests.cs
  scripts/test-data-protection.ps1
  simple-request-1.http
  simple-request.http
  test-docker-logic.ps1
Due: .azuredevops/pipelines/ci-cd.yml

Enhance load testing scripts to support SSL verification toggling and in-memory database usage for local environments
  load-tests/locust/api_load_test.py
  load-tests/run-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Refactor Azure DevOps and GitHub workflows to use Shared User-Assigned Managed Identity for SQL Admin roles and update connection strings accordingly
  .azuredevops/pipelines/infrastructure.yml
  .github/workflows/infrastructure.yml
  infrastructure/main.bicep
Due: none

Refactor Key Vault access policies to utilize shared User-Assigned Managed Identity for improved security and consistency
  infrastructure/main.bicep
Due: none

Update output for web app and API principal IDs to use user-assigned identity for consistency
  infrastructure/main.bicep
Due: none

Refactor identity naming convention in infrastructure scripts to use 'ui-' prefix for shared user-assigned identities
  .azuredevops/pipelines/infrastructure.yml
  .github/workflows/infrastructure.yml
Due: none

Refactor Azure DevOps and GitHub workflows to prefer reading shared user-assigned identity details from deployment outputs, enhancing reliability and reducing errors in identity resolution.
  .azuredevops/pipelines/infrastructure.yml
  .github/copilot-instructions.md
  .github/workflows/infrastructure.yml
Due: none

Ensure npm is available and upgrade to latest version in Dockerfile
  AiStockTradeApp.Api/Dockerfile
Due: .azuredevops/pipelines/ci-cd.yml

Refactor Dockerfile to streamline Playwright and Node.js/npm installation process
  AiStockTradeApp.Api/Dockerfile
Due: .azuredevops/pipelines/ci-cd.yml

Path conditions:
  .azuredevops/pipelines/alt-load-tests.yaml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/alt-load-tests.yml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/ci-cd.yml: any file but: **.md, **/README.md, docs, scripts, AiStockTradeApp/scripts, *.txt, .gitignore, .vscode, .vs, .github, AGENTS.md, LICENSE, data, AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/alt-config.yml, .azuredevops/pipelines/infrastructure.yml, load-tests, infrastructure
  .azuredevops/pipelines/cli-ci.yml: any of: AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml
  .azuredevops/pipelines/load-tests.yml: any of: load-tests, .azuredevops/pipelines/load-tests.yml
  .azuredevops/pipelines/publish-mcpserver.yml: any of: AiStockTradeApp.McpServer, .azuredevops/pipelines/publish-mcpserver.yml, but not: AiStockTradeApp.McpServer/**/*.md
