Repository emmanuelknafo/AiStockTradeApp: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/publish-mcpserver.yml

Path conditions:
  .azuredevops/pipelines/alt-load-tests.yaml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/alt-load-tests.yml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/ci-cd.yml: any file but: **.md, **/README.md, docs, scripts, AiStockTradeApp/scripts, *.txt, .gitignore, .vscode, .vs, .github, AGENTS.md, LICENSE, data, AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/alt-config.yml, .azuredevops/pipelines/infrastructure.yml, load-tests, infrastructure
  .azuredevops/pipelines/cli-ci.yml: any of: AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml
  .azuredevops/pipelines/load-tests.yml: any of: load-tests, .azuredevops/pipelines/load-tests.yml
  .azuredevops/pipelines/publish-mcpserver.yml: any of: AiStockTradeApp.McpServer, .azuredevops/pipelines/publish-mcpserver.yml, but not: AiStockTradeApp.McpServer/**/*.md, **/*.mcp.json

Exclude Selenium tests from CI triggers and update unit test command to omit Playwright UI tests
  .azuredevops/pipelines/ci-cd.yml
  .github/workflows/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

Rename UITests to PlaywrightUITests across the project for consistency and clarity
  .azuredevops/pipelines/ci-cd.yml
  .github/copilot-instructions.md
  .github/workflows/ci-cd.yml
  .vscode/tasks.json
  AiStockTradeApp.Entities/README.md
  AiStockTradeApp.PlaywrightUITests/QUICK-START.md
  AiStockTradeApp.PlaywrightUITests/SETUP.md
  README.md
Due: .azuredevops/pipelines/ci-cd.yml

Enhance UserStock dashboard: add error handling for partial data loads and display empty watchlist messages for authenticated and anonymous users
  AiStockTradeApp/Controllers/HomeController.cs
  AiStockTradeApp/Controllers/UserStockController.cs
  AiStockTradeApp/Services/SimpleStringLocalizer.cs
  AiStockTradeApp/Views/Stock/Dashboard.cshtml
  AiStockTradeApp/Views/UserStock/Dashboard.cshtml
Due: .azuredevops/pipelines/ci-cd.yml

Rename Index test to reflect redirection to UserStock dashboard and update expectations for unified user watchlist logic
  AiStockTradeApp.Tests/Controllers/HomeControllerTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Refactor StockController to UserStockController and remove legacy methods
  AiStockTradeApp.Tests/Controllers/StockControllerTests.cs
  AiStockTradeApp.Tests/Controllers/UserStockControllerTests.cs
  AiStockTradeApp/Controllers/StockController.cs
  AiStockTradeApp/Controllers/UserStockController.cs
  AiStockTradeApp/Services/SimpleStringLocalizer.cs
  AiStockTradeApp/Views/UserStock/Dashboard.cshtml
  AiStockTradeApp/wwwroot/js/stock-tracker.js
Due: .azuredevops/pipelines/ci-cd.yml

Implement WatchlistQuoteAggregator for concurrent stock quote retrieval and error handling
  AiStockTradeApp.Services/Implementations/WatchlistQuoteAggregator.cs
  AiStockTradeApp.Services/Interfaces/IWatchlistQuoteAggregator.cs
  AiStockTradeApp.Tests/Controllers/StockControllerTests.cs
  AiStockTradeApp.Tests/Controllers/UserStockControllerTests.cs
  AiStockTradeApp.Tests/Services/WatchlistQuoteAggregatorTests.cs
  AiStockTradeApp/Controllers/UserStockController.cs
  AiStockTradeApp/Program.cs
Due: .azuredevops/pipelines/ci-cd.yml

Suppress obsolete StockController warnings in integration tests
  AiStockTradeApp.Tests/Integration/ControllersIntegrationTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Implement migration and cleanup tasks for legacy API key secrets in CI/CD pipelines and update secret naming conventions in Bicep templates
  .azuredevops/pipelines/ci-cd.yml
  .github/workflows/ci-cd.yml
  AiStockTradeApp.Api/ApiKeyDiagnostics.cs
  infrastructure/main.bicep
Due: .azuredevops/pipelines/ci-cd.yml

Update UI automation tests and configurations for new login and dashboard routes, adjust selectors, and enhance self-seeding logic in tests
  AiStockTradeApp.SeleniumTests/Drivers/TestSettings.cs
  AiStockTradeApp.SeleniumTests/Pages/AuthPage.cs
  AiStockTradeApp.SeleniumTests/Pages/DashboardPage.cs
  AiStockTradeApp.SeleniumTests/README.md
  AiStockTradeApp.SeleniumTests/TestSettings.json
  AiStockTradeApp.SeleniumTests/Tests/AuthenticatedWatchlistTests.cs
  AiStockTradeApp/Views/Account/Login.cshtml
Due: .azuredevops/pipelines/ci-cd.yml

Update tests for UserStockController migration
  AiStockTradeApp.Tests/Controllers/StockControllerTests.cs
  AiStockTradeApp.Tests/Integration/WebApplicationTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Enhance Selenium test project setup and documentation
  AiStockTradeApp.SeleniumTests/AiStockTradeApp.SeleniumTests.csproj
  AiStockTradeApp.SeleniumTests/AssemblyTeardownTests.cs
  AiStockTradeApp.SeleniumTests/Infrastructure/TestBase.cs
  AiStockTradeApp.SeleniumTests/Infrastructure/TestSetupHelper.cs
  AiStockTradeApp.SeleniumTests/README.md
  AiStockTradeApp.SeleniumTests/TestSettings.json
Due: .azuredevops/pipelines/ci-cd.yml

Fix legacy API key cleanup tasks to handle missing files in script instead of condition
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

Update CI/CD pipeline and Bicep templates to include API keys as parameters for deployment
  .azuredevops/pipelines/ci-cd.yml
  infrastructure/main.bicep
Due: .azuredevops/pipelines/ci-cd.yml

Add script to update one-line descriptions for Azure DevOps Test Cases
  scripts/Update-AdoTestCaseDescriptions.ps1
Due: none

Enhance DashboardPage to improve symbol input handling and wait for symbol card appearance
  AiStockTradeApp.SeleniumTests/Pages/DashboardPage.cs
Due: .azuredevops/pipelines/ci-cd.yml

Standardize documentation headers and unify README structure across projects; add Azure DevOps automation script for test case descriptions.
  AiStockTradeApp.Api/README.md
  AiStockTradeApp.DataAccess/README.md
  AiStockTradeApp.Entities/README.md
  AiStockTradeApp.Services/README.md
  README.md
  scripts/README.md
Due: none

Enhance DashboardPage and AuthenticatedWatchlistTests with improved wait mechanisms for symbol addition and retrieval; increase timeout values for better reliability.
  AiStockTradeApp.SeleniumTests/Pages/DashboardPage.cs
  AiStockTradeApp.SeleniumTests/Tests/AuthenticatedWatchlistTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Standardize documentation headers and unify README formats across all projects; add automation script references for Azure DevOps test case management.
  .github/copilot-instructions.md
  AiStockTradeApp.Cli/README.md
  AiStockTradeApp.McpServer/README.md
  AiStockTradeApp.PlaywrightUITests/README.md
  AiStockTradeApp.SeleniumTests/README.md
  AiStockTradeApp.Tests/README.md
  AiStockTradeApp/README.md
  data/README.md
  docs/README.md
  infrastructure/README.md
  load-tests/README.md
  media/README.md
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml

Auto-increment MCP Server version to 1.0.0-beta.16 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Enhance AddSymbol method in DashboardPage with extended timeout and improved input handling; implement controlled refresh for better reliability during symbol addition.
  AiStockTradeApp.SeleniumTests/Pages/DashboardPage.cs
Due: .azuredevops/pipelines/ci-cd.yml

Refactor Selenium CI workflow and run-selenium-tests script to enhance headless mode handling and logging; streamline input parameters for better integration in CI environments.
  .github/workflows/selenium-tests.yml
  scripts/run-selenium-tests.ps1
Due: none

Enhance CI integration in Selenium tests by modifying argument handling in workflow and adding auto-detection for CI environment in run-selenium-tests script.
  .github/workflows/selenium-tests.yml
  scripts/run-selenium-tests.ps1
Due: none

Rename Unskip-Tests function to Enable-Tests; set USE_INMEMORY_DB environment variable for CI mode to eliminate external SQL dependency.
  scripts/run-selenium-tests.ps1
Due: none

Add CI environment check for in-memory database usage in Program.cs
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp/Program.cs
Due: .azuredevops/pipelines/ci-cd.yml

Enhance CI configuration by disabling Selenium test auto-start and setting in-memory database usage; streamline test execution in CI environments.
  .github/workflows/selenium-tests.yml
  AiStockTradeApp.Api/Program.cs
  scripts/run-selenium-tests.ps1
Due: .azuredevops/pipelines/ci-cd.yml

Refactor load-tests workflow to enhance input handling and streamline job steps; remove unnecessary triggers and improve concurrency management.
  .github/workflows/load-tests.yml
Due: none

Enhance CI support by configuring HTTP base URL for Selenium tests, skipping HTTPS redirection in CI and in-memory modes, and disabling MCP auto-start to prevent port conflicts.
  .github/workflows/selenium-tests.yml
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp.SeleniumTests/Infrastructure/TestSetupHelper.cs
  AiStockTradeApp/Program.cs
  scripts/run-selenium-tests.ps1
  scripts/start.ps1
Due: .azuredevops/pipelines/ci-cd.yml

Enhance Selenium test workflow by forcing HTTP base URL and updating run-selenium-tests.ps1 to use UI 'https' profile while exposing HTTP on port 5259; add screenshot upload step to CI.
  .github/workflows/selenium-tests.yml
  scripts/run-selenium-tests.ps1
Due: none

Update API URL in load-tests workflow and add root metadata endpoint for load testing
  .github/workflows/load-tests.yml
  AiStockTradeApp.Api/Program.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add Selenium UI Tests pipeline configuration for Azure DevOps
  .azuredevops/pipelines/selenium-tests.yml
Due: .azuredevops/pipelines/ci-cd.yml

Improve load test evaluation by adding error handling and defensive programming for failure ratio and average response calculations
  .github/workflows/load-tests.yml
Due: none

Refactor Selenium pipeline YAML for consistency in string formatting and improve readability
  .azuredevops/pipelines/selenium-tests.yml
Due: .azuredevops/pipelines/ci-cd.yml

Refactor load tests pipeline to enhance parameterization, improve scheduling, and streamline JMeter and Locust execution steps
  .azuredevops/pipelines/load-tests.yml
Due: .azuredevops/pipelines/load-tests.yml

Add CI cleanup for terminating API/UI processes to prevent lingering STDIO handles
  scripts/run-selenium-tests.ps1
Due: none

Refactor CI cleanup logic for stopping API/UI processes to improve readability and maintainability
  scripts/run-selenium-tests.ps1
Due: none

Refactor load test launcher to improve modularity and streamline test execution
  load-tests/start-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Refactor Invoke-LoadRunner to tokenize arguments correctly, improving command handling
  load-tests/start-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Enhance load test scripts with AutoStart feature and improve argument parsing
  load-tests/run-load-test.ps1
  load-tests/start-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Refactor Invoke-LoadRunner to accept an array of arguments, improving command handling and readability
  load-tests/start-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml

Refactor Invoke-LoadRunner to use named parameters for improved clarity and usability
  load-tests/start-load-test.ps1
Due: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/load-tests.yml
