Repository emmanuelknafo/AiStockTradeApp: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml

.azuredevops/pipelines/alt-load-tests.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: LoadTest
    displayName: Load Test
    jobs:
    - job: LoadTest
      displayName: Load Test
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: AzureLoadTest@1
        inputs:
          azureSubscription: svc_CSA_sub
  ...

.azuredevops/pipelines/alt-load-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: LoadTest
    displayName: Load Test
    jobs:
    - job: LoadTest
      displayName: Load Test
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'echo "Preparing load test files"
  
  ...

.azuredevops/pipelines/ci-cd.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: Test
    displayName: Run Tests
    jobs:
    - job: TestJob
      displayName: Run Tests
      steps:
      - checkout: self
        displayName: Checkout code
        fetchDepth: 0
        persistCredentials: true
        clean: true
      - task: Bash@3
  ...

.azuredevops/pipelines/cli-ci.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: Test
    displayName: Test CLI and Solution
    jobs:
    - job: TestCli
      displayName: Build CLI and run smoke test
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
  - stage: SmokeDev
    displayName: Smoke test Development API
  ...

.azuredevops/pipelines/load-tests.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: LoadTests
    displayName: Run JMeter load tests
    jobs:
    - job: RunJMeter
      displayName: Run JMeter (Docker)
      pool:
        vmImage: $(vmImageName)
      steps:
      - checkout: self
      - script: 'echo "Listing test directory"
  
  ...

Add alternative Git checkout strategy for handling PRs in CI/CD pipeline
  .azuredevops/pipelines/checkout-fallback-example.yml
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: Implement user authentication and profile management
  AiStockTradeApp.Api/AiStockTradeApp.Api.csproj
  AiStockTradeApp.DataAccess/AiStockTradeApp.DataAccess.csproj
  AiStockTradeApp.DataAccess/Data/ApplicationIdentityContext.cs
  AiStockTradeApp.DataAccess/Data/StockDataContext.cs
  AiStockTradeApp.DataAccess/Migrations/20250830132019_AddUserWatchlistAndAlerts.Designer.cs
  AiStockTradeApp.DataAccess/Migrations/20250830132019_AddUserWatchlistAndAlerts.cs
  AiStockTradeApp.DataAccess/Migrations/ApplicationIdentity/20250830131945_AddAspNetCoreIdentity.Designer.cs
  AiStockTradeApp.DataAccess/Migrations/ApplicationIdentity/20250830131945_AddAspNetCoreIdentity.cs
  AiStockTradeApp.DataAccess/Migrations/ApplicationIdentity/ApplicationIdentityContextModelSnapshot.cs
  AiStockTradeApp.Entities/AiStockTradeApp.Entities.csproj
  AiStockTradeApp.Entities/Models/ApplicationUser.cs
  AiStockTradeApp.Entities/Models/UserPreferences.cs
  AiStockTradeApp/AiStockTradeApp.csproj
  AiStockTradeApp/Controllers/AccountController.cs
  AiStockTradeApp/Program.cs
  AiStockTradeApp/Services/SimpleStringLocalizer.cs
  AiStockTradeApp/ViewModels/AccountViewModels.cs
  AiStockTradeApp/Views/Account/AccessDenied.cshtml
  AiStockTradeApp/Views/Account/Login.cshtml
  AiStockTradeApp/Views/Account/Profile.cshtml
  AiStockTradeApp/Views/Account/Register.cshtml
  AiStockTradeApp/Views/Shared/_Layout.cshtml
  AiStockTradeApp/appsettings.Development.json
  AiStockTradeApp/appsettings.json
Due: .azuredevops/pipelines/ci-cd.yml

feat: Enhance GitHub PR checkout process with diagnostics and fallback mechanisms
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

Implement comprehensive logging and user seeding tests
  AiStockTradeApp.Services/Implementations/TestUserSeedingService.cs
  AiStockTradeApp.Services/Interfaces/ITestUserSeedingService.cs
  AiStockTradeApp.Tests/Examples/UserSeedingExampleTests.cs
  AiStockTradeApp.Tests/Helpers/TestSetupHelper.cs
  AiStockTradeApp.Tests/Integration/LoggingAndUserSeedingIntegrationTests.cs
  AiStockTradeApp.Tests/README_LOGGING_AND_USER_SEEDING.md
  AiStockTradeApp.Tests/Services/LoggingExtensionsTests.cs
  AiStockTradeApp.Tests/Services/ServiceLoggingIntegrationTests.cs
  AiStockTradeApp.Tests/Services/TestUserSeedingServiceTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add unit and integration tests for AccountController and authentication flows
  AUTHENTICATION_LOGGING_ENHANCEMENTS.md
  AiStockTradeApp.Services/AiStockTradeApp.Services.csproj
  AiStockTradeApp.Services/Implementations/AuthenticationDiagnosticsService.cs
  AiStockTradeApp.Services/LoggingExtensions.cs
  AiStockTradeApp.Tests/Controllers/AccountControllerTests.cs
  AiStockTradeApp.Tests/Integration/AuthenticationIntegrationTests.cs
  AiStockTradeApp.Tests/Services/LoggingExtensionsTests.cs
  AiStockTradeApp/Controllers/AccountController.cs
  AiStockTradeApp/Controllers/DiagnosticsController.cs
  AiStockTradeApp/Program.cs
  AiStockTradeApp/Services/SimpleStringLocalizer.cs
Due: .azuredevops/pipelines/ci-cd.yml

feat: Add help parameter and usage instructions to start.ps1 script
  scripts/start.ps1
  test_start_script.ps1
Due: .azuredevops/pipelines/ci-cd.yml

feat: Add NoBrowser parameter to start.ps1 to control automatic browser opening
  scripts/start.ps1
  test_start_script.ps1
Due: .azuredevops/pipelines/ci-cd.yml

feat: Refactor authentication integration tests to use in-memory databases and improve test client creation
  AiStockTradeApp.Tests/Integration/AuthenticationIntegrationTestsFixed.cs
  AiStockTradeApp/Program.cs
Due: .azuredevops/pipelines/ci-cd.yml

refactor: Remove obsolete AuthenticationIntegrationTestsFixed class
  AiStockTradeApp.Tests/Integration/AuthenticationIntegrationTestsFixed.cs
Due: .azuredevops/pipelines/ci-cd.yml

feat: Enhance logging methods to check log level before logging messages
  AiStockTradeApp.Services/LoggingExtensions.cs
  AiStockTradeApp.Tests/Controllers/AccountControllerTests.cs
  AiStockTradeApp.Tests/Integration/LoggingAndUserSeedingIntegrationTests.cs
  AiStockTradeApp.Tests/Services/LoggingExtensionsTests.cs
  AiStockTradeApp.Tests/Services/ServiceLoggingIntegrationTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

fix: Update UserManager and RoleManager mocks to use null-forgiving operator
  AiStockTradeApp.Tests/Controllers/AccountControllerTests.cs
  AiStockTradeApp.Tests/Integration/LoggingAndUserSeedingIntegrationTests.cs
  AiStockTradeApp.Tests/Services/TestUserSeedingServiceTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

feat: Implement separate Application Insights instances for UI and API, enhancing monitoring and observability
  infrastructure/APPLICATION_INSIGHTS_SEPARATION.md
  infrastructure/README.md
  infrastructure/main.bicep
Due: none

feat: Enhance StockDashboardPage methods for improved loading and notification handling in UI tests
  AiStockTradeApp.UITests/PageObjects/StockDashboardPage.cs
  AiStockTradeApp.UITests/Tests/StockDashboardPageObjectTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

feat: Add ConnectionStrings section to appsettings for database configuration
  AiStockTradeApp.Api/appsettings.Development.json
  AiStockTradeApp.Api/appsettings.json
Due: .azuredevops/pipelines/ci-cd.yml

fix: Update API endpoint references in startup script for clarity
  scripts/start.ps1
Due: none

feat: Enhance database configuration and migration handling in startup script
  AiStockTradeApp/Program.cs
  AiStockTradeApp/appsettings.Development.json
  AiStockTradeApp/appsettings.json
  scripts/start.ps1
Due: .azuredevops/pipelines/ci-cd.yml

feat: Improve stock removal and loading handling in StockDashboardPage tests
  AiStockTradeApp.UITests/PageObjects/StockDashboardPage.cs
  AiStockTradeApp.UITests/Tests/StockDashboardPageObjectTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

fix: Update API endpoint port in Docker mode from 8081 to 8082
  scripts/start.ps1
Due: none

feat: Add WaitForPageReady method and improve navigation handling in StockDashboardPage tests fix: Handle null values for FirstName and LastName in UserProfileViewModel
  AiStockTradeApp.UITests/PageObjects/StockDashboardPage.cs
  AiStockTradeApp.UITests/Tests/StockDashboardPageObjectTests.cs
  AiStockTradeApp/Controllers/AccountController.cs
Due: .azuredevops/pipelines/ci-cd.yml

feat: Enhance Application Insights configuration with robust error handling and validation
  AiStockTradeApp/Program.cs
  AiStockTradeApp/appsettings.Production.json
Due: .azuredevops/pipelines/ci-cd.yml

feat: Update Application Insights configuration and add local service dependencies
  AiStockTradeApp.Api/AiStockTradeApp.Api.csproj
  AiStockTradeApp.Api/Properties/serviceDependencies.json
  AiStockTradeApp.Api/Properties/serviceDependencies.local.json
  AiStockTradeApp.Api/appsettings.Development.json
  AiStockTradeApp.Api/appsettings.json
  AiStockTradeApp/AiStockTradeApp.csproj
  AiStockTradeApp/Properties/ServiceDependencies/local/appInsights1.arm.json
  AiStockTradeApp/Properties/serviceDependencies.json
  AiStockTradeApp/Properties/serviceDependencies.local.json
  AiStockTradeApp/appsettings.Development.json
  AiStockTradeApp/appsettings.json
Due: .azuredevops/pipelines/ci-cd.yml

Enhance API logging capabilities with structured logging, request/response logging, and global exception handling
  AiStockTradeApp.Api/Background/ImportJobProcessor.cs
  AiStockTradeApp.Api/LOGGING_ENHANCEMENTS.md
  AiStockTradeApp.Api/Middleware/ApiLoggingExtensions.cs
  AiStockTradeApp.Api/Middleware/GlobalExceptionHandlingMiddleware.cs
  AiStockTradeApp.Api/Middleware/RequestResponseLoggingMiddleware.cs
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp.Api/appsettings.Development.json
  AiStockTradeApp.Api/appsettings.json
Due: .azuredevops/pipelines/ci-cd.yml

Enhance documentation across multiple projects in AiStockTradeApp solution
  AiStockTradeApp.Api/README.md
  AiStockTradeApp.Cli/README.md
  AiStockTradeApp.DataAccess/README.md
  AiStockTradeApp.Entities/README.md
  AiStockTradeApp.Services/README.md
  AiStockTradeApp/README.md
Due: .azuredevops/pipelines/cli-ci.yml

feat: Update project documentation to reflect Minimal API architecture and enhance entity descriptions
  .github/copilot-instructions.md
Due: none

Refactor namespaces and improve test configurations
  AiStockTradeApp.Api/ApiAssemblyMarker.cs
  AiStockTradeApp.Tests/AiStockTradeApp.Tests.csproj
  AiStockTradeApp.Tests/Api/StockApiBasicTests.cs
  AiStockTradeApp.Tests/Integration/AuthenticationIntegrationTests.cs
  AiStockTradeApp.UITests/AiStockTradeApp.UITests.csproj
  AiStockTradeApp.UITests/TestSetupHelper.cs
Due: .azuredevops/pipelines/ci-cd.yml

Refactor project for improved testing and error handling
  AiStockTradeApp.Api/AiStockTradeApp.Api.csproj
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp.Tests/Api/StockApiBasicTests.cs
  AiStockTradeApp.Tests/Integration/AuthenticationIntegrationTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Improve testing environment handling and error logging
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp.Tests/Api/StockApiBasicTests.cs
  AiStockTradeApp.Tests/Integration/AuthenticationIntegrationTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

only 6 tests to fix
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp.Tests/Api/StockApiBasicTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Remove stock API and authentication integration tests
  AiStockTradeApp.Tests/AiStockTradeApp.Tests.csproj
  AiStockTradeApp.Tests/Api/StockApiBasicTests.cs
  AiStockTradeApp.Tests/Integration/AuthenticationIntegrationTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Remove AngleSharp package reference from test project
  AiStockTradeApp.Tests/AiStockTradeApp.Tests.csproj
Due: .azuredevops/pipelines/ci-cd.yml

Refactor login and registration views for improved styling and structure
  AiStockTradeApp/Views/Account/Login.cshtml
  AiStockTradeApp/Views/Account/Register.cshtml
Due: .azuredevops/pipelines/ci-cd.yml

Refactor Profile view for improved layout and styling
  AiStockTradeApp/Views/Account/Profile.cshtml
Due: .azuredevops/pipelines/ci-cd.yml

Enhance test coverage and update test configurations
  AiStockTradeApp.Api/TestStartup.cs
  AiStockTradeApp.Tests/Api/StockApiBasicTests.cs
  AiStockTradeApp.Tests/Integration/AuthenticationIntegrationTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Remove references to the 'develop' branch from CI/CD workflows and GitVersion configuration
  .azuredevops/pipelines/ci-cd.yml
  .azuredevops/pipelines/cli-ci.yml
  .github/workflows/ci-cd.yml
  .github/workflows/cli-ci.yml
  .github/workflows/config-validation.yml
  .github/workflows/docs.yml
  .github/workflows/test-job-outputs.yml
  GitVersion.yml
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml

Enhance CI/CD pipeline to use GitHub token for tag creation and push; improve Application Insights telemetry client initialization
  .azuredevops/pipelines/ci-cd.yml
  AiStockTradeApp.Api/Program.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add watchlist migration middleware and enhance user stock dashboard
  AiStockTradeApp.Services/Implementations/UserWatchlistService.cs
  AiStockTradeApp.Services/Interfaces/IUserWatchlistService.cs
  AiStockTradeApp/Controllers/UserStockController.cs
  AiStockTradeApp/Middleware/WatchlistMigrationMiddleware.cs
  AiStockTradeApp/Program.cs
  AiStockTradeApp/Resources/SharedResource.en.resx
  AiStockTradeApp/Resources/SharedResource.fr.resx
  AiStockTradeApp/Services/SimpleStringLocalizer.cs
  AiStockTradeApp/Views/Shared/_Layout.cshtml
  AiStockTradeApp/Views/UserStock/Dashboard.cshtml
  AiStockTradeApp/Views/UserStock/ManageWatchlist.cshtml
  AiStockTradeApp/wwwroot/js/stock-tracker.js
  cookies.txt
  scripts/start.ps1
Due: .azuredevops/pipelines/ci-cd.yml

cleanup
  scripts/cleanup-misplaced-resources.ps1
  scripts/cleanup-misplaced-resources.sh
  scripts/quick-ui-test.ps1
  scripts/run-ui-tests.ps1
  scripts/smoke-test.ps1
  scripts/sql-conn-auth-dump.sh
Due: none

Refactor foreign key relationships for UserPriceAlerts and UserWatchlistItems to prevent unnecessary ApplicationUser table creation
  AiStockTradeApp.DataAccess/Data/StockDataContext.cs
  AiStockTradeApp.DataAccess/Migrations/20250831220009_UpdateForeignKeysToUsersTable.Designer.cs
  AiStockTradeApp.DataAccess/Migrations/20250831220009_UpdateForeignKeysToUsersTable.cs
Due: .azuredevops/pipelines/ci-cd.yml

Remove obsolete ApplicationUser table migration and update related code
  AiStockTradeApp.DataAccess/Migrations/20250831221935_DropObsoleteApplicationUserTable.Designer.cs
  AiStockTradeApp.DataAccess/Migrations/20250831221935_DropObsoleteApplicationUserTable.cs
Due: .azuredevops/pipelines/ci-cd.yml

Update documentation and README files to reflect recent changes in project structure, including user models, services, and test organization.
  .github/copilot-instructions.md
  .github/workflows/test-job-outputs.yml
  AiStockTradeApp.DataAccess/README.md
  AiStockTradeApp.Entities/README.md
  AiStockTradeApp.Services/README.md
  AiStockTradeApp.Tests/README.md
  AiStockTradeApp/README.md
Due: none

Path conditions:
  .azuredevops/pipelines/alt-load-tests.yaml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/alt-load-tests.yml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/ci-cd.yml: any file but: **.md, **/README.md, docs, scripts, AiStockTradeApp/scripts, *.txt, .gitignore, .vscode, .vs, .github, AGENTS.md, LICENSE, data, AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/alt-config.yml, .azuredevops/pipelines/infrastructure.yml, load-tests, infrastructure
  .azuredevops/pipelines/cli-ci.yml: any of: AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml
  .azuredevops/pipelines/load-tests.yml: any of: load-tests, .azuredevops/pipelines/load-tests.yml
