Repository emmanuelknafo/AiStockTradeApp: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/alt-load-tests.yaml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/publish-mcpserver.yml

.azuredevops/pipelines/alt-load-tests.yaml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: LoadTest
    displayName: Load Test
    jobs:
    - job: LoadTest
      displayName: Load Test
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: AzureLoadTest@1
        inputs:
          azureSubscription: svc_CSA_sub
  ...

.azuredevops/pipelines/alt-load-tests.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: LoadTest
    displayName: Load Test
    jobs:
    - job: LoadTest
      displayName: Load Test
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'echo "Preparing load test files"
  
  ...

.azuredevops/pipelines/ci-cd.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: Test
    displayName: Run Tests
    jobs:
    - job: TestJob
      displayName: Run Tests
      steps:
      - checkout: self
        displayName: Checkout code
        fetchDepth: 0
        persistCredentials: true
        clean: true
      - task: Bash@3
  ...

.azuredevops/pipelines/cli-ci.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: Test
    displayName: Test CLI and Solution
    jobs:
    - job: TestCli
      displayName: Build CLI and run smoke test
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
  - stage: SmokeDev
    displayName: Smoke test Development API
  ...

.azuredevops/pipelines/load-tests.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: LoadTests
    displayName: Run JMeter load tests
    jobs:
    - job: RunJMeter
      displayName: Run JMeter (Docker)
      pool:
        vmImage: $(vmImageName)
      steps:
      - checkout: self
      - script: 'echo "Listing test directory"
  
  ...

.azuredevops/pipelines/publish-mcpserver.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: PublishMcpServer
    displayName: Build and Publish MCP Server Package
    jobs:
    - job: PublishJob
      displayName: Build and Publish MCP Server
      steps:
      - checkout: self
        displayName: Checkout repository
        fetchDepth: 0
  ...

Refactor CI/CD pipeline to prefer user-assigned identities for managed identity principal IDs, enhancing reliability and consistency in SQL admin setup
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

Enhance CI/CD pipeline to support user-assigned managed identities, improving verification and remediation steps for SQL admin configuration.
  .github/workflows/ci-cd.yml
Due: none

Refactor managed identity validation in CI/CD pipeline to improve logging and ensure correct identity assignment for API and UI webapps.
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

Enhance database migration process to include StockData context in non-inmemory mode, improving schema synchronization for Watchlist/Alerts.
  AiStockTradeApp/Program.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add Selenium testing framework and initial tests
  AiStockTradeApp.SeleniumTests/AiStockTradeApp.SeleniumTests.csproj
  AiStockTradeApp.SeleniumTests/Drivers/TestSettings.cs
  AiStockTradeApp.SeleniumTests/Drivers/WebDriverFactory.cs
  AiStockTradeApp.SeleniumTests/GlobalUsings.cs
  AiStockTradeApp.SeleniumTests/Infrastructure/TestBase.cs
  AiStockTradeApp.SeleniumTests/Pages/AuthPage.cs
  AiStockTradeApp.SeleniumTests/Pages/DashboardPage.cs
  AiStockTradeApp.SeleniumTests/README.md
  AiStockTradeApp.SeleniumTests/TestSettings.json
  AiStockTradeApp.SeleniumTests/Tests/AnonymousWatchlistTests.cs
  AiStockTradeApp.SeleniumTests/Tests/AuthenticatedWatchlistTests.cs
  AiStockTradeApp.SeleniumTests/Tests/CrossCuttingTests.cs
  AiStockTradeApp.SeleniumTests/Utils/CultureSwitcher.cs
  AiStockTradeApp.sln
Due: .azuredevops/pipelines/ci-cd.yml

Add AdoId traits to watchlist tests for better tracking and organization
  AiStockTradeApp.SeleniumTests/Tests/AnonymousWatchlistTests.cs
  AiStockTradeApp.SeleniumTests/Tests/AuthenticatedWatchlistTests.cs
  AiStockTradeApp.SeleniumTests/Tests/CrossCuttingTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add Selenium testing workflow and enhance TestSettings for CI environment
  .github/workflows/ci-cd.yml
  .github/workflows/selenium-tests.yml
  AiStockTradeApp.SeleniumTests/Drivers/TestSettings.cs
  AiStockTradeApp.SeleniumTests/Infrastructure/TestBase.cs
  AiStockTradeApp.SeleniumTests/Pages/DashboardPage.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add Azure Key Vault support and update project files
  AiStockTradeApp.Api/AiStockTradeApp.Api.csproj
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.10
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.10 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.11 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.11
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.12 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Enhance connection string resolution and diagnostics for Key Vault references
  AiStockTradeApp.Api/Program.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add runner maintenance workflow for agent management and maintenance tasks
  .github/workflows/ci-cd.yml
  .github/workflows/runner-maintenance.yml
Due: none

Enhance GitHub token handling in runner maintenance workflow
  .github/workflows/runner-maintenance.yml
Due: none

Fix host name pattern in runner maintenance workflow
  .github/workflows/runner-maintenance.yml
Due: none

Update MCP Server port configuration in documentation and scripts for Docker and Local modes
  DOCKER_CONTAINER_FIX.md
  DOCKER_SQL_PORT_CONFIGURATION.md
  MCP_INTEGRATION_SUMMARY.md
  README.md
  docker-compose.yml
  scripts/start.ps1
Due: .azuredevops/pipelines/ci-cd.yml

Refactor connection string handling to use Managed Identity, removing Key Vault references and legacy connection string secrets
  .azuredevops/pipelines/ci-cd.yml
  .github/workflows/ci-cd.yml
  AiStockTradeApp.Api/Program.cs
  infrastructure/main.bicep
Due: .azuredevops/pipelines/ci-cd.yml

Improve stock addition test robustness by enhancing notification handling and fallback to stock card presence
  AiStockTradeApp.UITests/PageObjects/StockDashboardPage.cs
  AiStockTradeApp.UITests/Tests/StockManagementTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Refactor stock addition tests to use StockAdditionHelper for improved notification and card presence handling
  AiStockTradeApp.UITests/Helpers/StockAdditionHelper.cs
  AiStockTradeApp.UITests/Tests/StockDashboardPageObjectTests.cs
  AiStockTradeApp.UITests/Tests/StockManagementTests.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add artifact collection and upload for UI test inconclusive screenshots and traces
  .github/workflows/ci-cd.yml
Due: none

Add API key diagnostics and logging for unresolved KeyVault references in StockDataService
  AiStockTradeApp.Api/Program.cs
  AiStockTradeApp.Services/Implementations/StockDataService.cs
Due: .azuredevops/pipelines/ci-cd.yml

Add UI inconclusive artifacts collection and external stock API key validation to CI/CD pipeline
  .azuredevops/pipelines/ci-cd.yml
  .github/workflows/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

Add summary publishing for CI/CD stages including Unit Test, UI Test, Build, DeployDev, DeployProd, and Security Scan
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

Add Key Vault secret management and diagnostics for API keys
  AiStockTradeApp.Api/AiStockTradeApp.Api.csproj
  AiStockTradeApp.Api/ApiKeyDiagnostics.cs
  AiStockTradeApp.Api/Program.cs
  infrastructure/main.bicep
Due: .azuredevops/pipelines/ci-cd.yml

Update package versions and add Key Vault support
  AiStockTradeApp.Api/AiStockTradeApp.Api.csproj
  AiStockTradeApp.Cli/AiStockTradeApp.Cli.csproj
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
  AiStockTradeApp.Services/AiStockTradeApp.Services.csproj
  AiStockTradeApp.UITests/AiStockTradeApp.UITests.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.13
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.13 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Refactor Key Vault integration for improved environment handling and error logging
  AiStockTradeApp.Api/Program.cs
Due: .azuredevops/pipelines/ci-cd.yml

Auto-increment MCP Server version to 1.0.0-beta.14 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.14
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.15 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Auto-increment MCP Server version to 1.0.0-beta.16 [skip ci]
  AiStockTradeApp.McpServer/.mcp/server-azuredevops.json
  AiStockTradeApp.McpServer/.mcp/server.json
  AiStockTradeApp.McpServer/AiStockTradeApp.McpServer.csproj
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/publish-mcpserver.yml

Refactor tests to remove Skip attributes and add TestDataSeeder for watchlist management
  AiStockTradeApp.SeleniumTests/AiStockTradeApp.SeleniumTests.csproj
  AiStockTradeApp.SeleniumTests/Infrastructure/TestDataSeeder.cs
  AiStockTradeApp.SeleniumTests/Tests/AnonymousWatchlistTests.cs
  AiStockTradeApp.SeleniumTests/Tests/AuthenticatedWatchlistTests.cs
  AiStockTradeApp.SeleniumTests/Tests/CrossCuttingTests.cs
  scripts/run-selenium-tests.ps1
Due: .azuredevops/pipelines/ci-cd.yml

Enhance accessibility by adding data-testid attributes for UI elements in StockDashboard and UserStock views
  AiStockTradeApp.UITests/PageObjects/StockDashboardPage.cs
  AiStockTradeApp/Views/Stock/Dashboard.cshtml
  AiStockTradeApp/Views/UserStock/Dashboard.cshtml
  AiStockTradeApp/Views/UserStock/ManageWatchlist.cshtml
Due: .azuredevops/pipelines/ci-cd.yml

Add direct SQL access for user and watchlist management commands
  AiStockTradeApp.Cli/AiStockTradeApp.Cli.csproj
  AiStockTradeApp.Cli/Program.cs
Due: .azuredevops/pipelines/cli-ci.yml

Add command for adding items to user watchlist and enhance password validation
  AiStockTradeApp.Cli/Program.cs
Due: .azuredevops/pipelines/cli-ci.yml

Update to Playwright UI testing framework
  AiStockTradeApp.Cli/AiStockTradeApp.Cli.csproj
  AiStockTradeApp.PlaywrightUITests/AiStockTradeApp.PlaywrightUITests.csproj
  AiStockTradeApp.PlaywrightUITests/BaseUITest.cs
  AiStockTradeApp.PlaywrightUITests/Helpers/StockAdditionHelper.cs
  AiStockTradeApp.PlaywrightUITests/PageObjects/StockDashboardPage.cs
  AiStockTradeApp.PlaywrightUITests/Properties/AssemblyInfo.cs
  AiStockTradeApp.PlaywrightUITests/QUICK-START.md
  AiStockTradeApp.PlaywrightUITests/README.md
  AiStockTradeApp.PlaywrightUITests/SETUP.md
  AiStockTradeApp.PlaywrightUITests/TestSetupHelper.cs
  AiStockTradeApp.PlaywrightUITests/Tests/AccessibilityTests.cs
  AiStockTradeApp.PlaywrightUITests/Tests/BasicSmokeTest.cs
  AiStockTradeApp.PlaywrightUITests/Tests/DebugStockAdditionTests.cs
  AiStockTradeApp.PlaywrightUITests/Tests/NavigationTests.cs
  AiStockTradeApp.PlaywrightUITests/Tests/PerformanceTests.cs
  AiStockTradeApp.PlaywrightUITests/Tests/StockDashboardPageObjectTests.cs
  AiStockTradeApp.PlaywrightUITests/Tests/StockManagementTests.cs
  AiStockTradeApp.PlaywrightUITests/Tests/UserInterfaceTests.cs
  AiStockTradeApp.PlaywrightUITests/package.json
  AiStockTradeApp.SeleniumTests/AiStockTradeApp.SeleniumTests.csproj
  AiStockTradeApp.sln
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml

Path conditions:
  .azuredevops/pipelines/alt-load-tests.yaml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/alt-load-tests.yml: any of: load-tests, .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/ci-cd.yml: any file but: **.md, **/README.md, docs, scripts, AiStockTradeApp/scripts, *.txt, .gitignore, .vscode, .vs, .github, AGENTS.md, LICENSE, data, AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml, .azuredevops/pipelines/alt-load-tests.yml, .azuredevops/pipelines/alt-config.yml, .azuredevops/pipelines/infrastructure.yml, load-tests, infrastructure
  .azuredevops/pipelines/cli-ci.yml: any of: AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml
  .azuredevops/pipelines/load-tests.yml: any of: load-tests, .azuredevops/pipelines/load-tests.yml
  .azuredevops/pipelines/publish-mcpserver.yml: any of: AiStockTradeApp.McpServer, .azuredevops/pipelines/publish-mcpserver.yml, but not: AiStockTradeApp.McpServer/**/*.md, **/*.mcp.json
