Repository emmanuelknafo/AiStockTradeApp: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/cli-ci.yml, .azuredevops/pipelines/load-tests.yml

.azuredevops/pipelines/ci-cd.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: Test
    displayName: Test Application
    jobs:
    - job: TestJob
      displayName: Test Application
      steps:
      - checkout: self
        displayName: Checkout code
        fetchDepth: 0
        persistCredentials: true
        clean: true
      - task: Bash@3
  ...

.azuredevops/pipelines/cli-ci.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: Test
    displayName: Test CLI and Solution
    jobs:
    - job: TestCli
      displayName: Build CLI and run smoke test
      steps:
      - checkout: self
        fetchDepth: 0
        clean: true
  - stage: SmokeDev
    displayName: Smoke test Development API
  ...

.azuredevops/pipelines/load-tests.yml:
  pool:
    vmImage: $(vmImageName)
  stages:
  - stage: LoadTests
    displayName: Run JMeter load tests
    jobs:
    - job: RunJMeter
      displayName: Run JMeter (Docker)
      pool:
        vmImage: $(vmImageName)
      steps:
      - checkout: self
      - script: 'echo "Listing test directory"
  
  ...

refactor: update artifact naming to include build number for uniqueness and adjust log/report folder paths
  .azuredevops/pipelines/load-tests.yml
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/load-tests.yml

feat: add Azure-ready JMeter load test configuration and test plan
  load-tests/jmeter/test-plan.azure.jmx
  loadtest.config.yaml
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/load-tests.yml

feat: add parameter for Azure Load Testing resource deployment in infrastructure
  .azuredevops/pipelines/infrastructure.yml
  .github/workflows/infrastructure.yml
  infrastructure/main.bicep
Due: .azuredevops/pipelines/ci-cd.yml

feat: add optional Azure Load Testing resource deployment in infrastructure
  infrastructure/main.bicep
Due: .azuredevops/pipelines/ci-cd.yml

Enhance CI/CD and Infrastructure Pipelines
  .azuredevops/pipelines/ci-cd.yml
  .azuredevops/pipelines/infrastructure.yml
  .github/workflows/ci-cd.yml
  .github/workflows/infrastructure.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance environment variable handling and default values in infrastructure deployment
  .github/workflows/infrastructure.yml
Due: none

feat: add Azure SQL management parameter handling for Dev and Prod deployments
  .azuredevops/pipelines/infrastructure.yml
  .github/workflows/infrastructure.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: include infrastructure.yml in CI/CD and infrastructure pipeline triggers
  .azuredevops/pipelines/ci-cd.yml
  .azuredevops/pipelines/infrastructure.yml
  .github/workflows/ci-cd.yml
  .github/workflows/infrastructure.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance production deployment conditions in GitHub Actions workflow
  .azuredevops/pipelines/infrastructure.yml
  .github/workflows/infrastructure.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: shorten load test resource name format in Bicep template
  infrastructure/main.bicep
Due: .azuredevops/pipelines/ci-cd.yml

feat: add alternative load test configurations and update CI/CD pipeline triggers
  .azuredevops/pipelines/alt-config.yaml
  .azuredevops/pipelines/alt-load-tests.yaml
  .azuredevops/pipelines/ci-cd.yml
  loadtest.config.yaml
Due: .azuredevops/pipelines/ci-cd.yml

feat: add production deployment stage with health checks and Azure AD integration
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

slowly refactoring alt load test
  .azuredevops/pipelines/alt-config.yaml
  .azuredevops/pipelines/alt-load-tests.yaml
Due: .azuredevops/pipelines/ci-cd.yml

feat: update SQL management parameters to use Azure Resource Manager template deployment style
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: update load test configuration to specify paths.csv location and add missing paths
  .azuredevops/pipelines/alt-config.yaml
  load-tests/paths.csv
  loadtest.config.yaml
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/load-tests.yml

feat: remove old load test configurations and add new pipeline setup with file copying
  .azuredevops/pipelines/alt-config.yaml
  .azuredevops/pipelines/alt-config.yml
  .azuredevops/pipelines/alt-load-tests.yaml
  .azuredevops/pipelines/alt-load-tests.yml
  .azuredevops/pipelines/load-tests/paths.csv
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance load test preparation by adding JMX test plan file copies
  .azuredevops/pipelines/alt-load-tests.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: simplify paths.csv by removing HTTP method prefixes
  .azuredevops/pipelines/load-tests/paths.csv
  load-tests/paths.csv
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/load-tests.yml

feat: add debug task for effective ARM override parameters in production deployment
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: update paths.csv to reflect new endpoint structure for load tests
  .azuredevops/pipelines/load-tests/paths.csv
  load-tests/paths.csv
Due: .azuredevops/pipelines/ci-cd.yml, .azuredevops/pipelines/load-tests.yml

ok
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: enhance production ARM management by improving SQL server and subnet detection logic
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: add pre-deploy MSI sanity check for API and app webapps in production
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: update display names for test stages and replace Bash task with AzureCLI for pre-deploy sanity check
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

refactor: remove TRX collection step to publish directly from Agent.TempDirectory
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: add Azure CLI tasks for authentication and pre-checks in production deployment
  .azuredevops/pipelines/ci-cd.yml
Due: .azuredevops/pipelines/ci-cd.yml

feat: add Azure Load Test workflow for dev-002 with preparation, execution, and artifact upload steps
  .github/workflows/alt-load-tests-dev-002.yml
Due: none

feat: add alt-load-tests workflow for Azure Load Testing with preparation, execution, and artifact upload steps
  .github/workflows/alt-load-tests.yml
  .github/workflows/ci-cd.yml
Due: none

feat: update Azure login step to use individual parameters for client ID, tenant ID, and subscription ID
  .github/workflows/alt-load-tests.yml
Due: none

feat: add permissions for id-token and contents in Azure Load Test job
  .github/workflows/alt-load-tests.yml
Due: none

feat: add Azure environment variables for client ID, tenant ID, and subscription ID in load tests workflow
  .github/workflows/alt-load-tests.yml
Due: none

feat: update Azure Load Test run step to resolve subscription ID from environment or query Azure CLI
  .github/workflows/alt-load-tests.yml
Due: none

feat: add provider registration check for Microsoft.LoadTestService in Azure Load Test workflow
  .github/workflows/alt-load-tests.yml
Due: none

feat: enhance Azure Load Test run step with detailed request/response logging and error handling
  .github/workflows/alt-load-tests.yml
Due: none

feat: update run-body.json generation to use minimal safe fields for Azure Load Test
  .github/workflows/alt-load-tests.yml
Due: none

feat: add testId resolution for Azure Load Test resource in run-body.json generation
  .github/workflows/alt-load-tests.yml
Due: none

feat: update Azure Load Testing workflow to preprocess config and streamline load test execution
  .github/workflows/alt-load-tests.yml
Due: none

feat: update Azure Load Testing action to version 1.1.28
  .github/workflows/alt-load-tests.yml
Due: none

feat: add debug job for Azure Load Testing on ubuntu-latest with detailed result uploads
  .github/workflows/alt-load-tests.yml
Due: none

fix: change load_test_debug job to run on self-hosted linux instead of ubuntu-latest
  .github/workflows/alt-load-tests.yml
Due: none

Path conditions:
  .azuredevops/pipelines/ci-cd.yml: any file but: **.md, **/README.md, docs, *.txt, .gitignore, .vscode, .vs, .github, AGENTS.md, LICENSE
  .azuredevops/pipelines/cli-ci.yml: any of: AiStockTradeApp.Cli, .azuredevops/pipelines/cli-ci.yml
  .azuredevops/pipelines/load-tests.yml: any of: load-tests, .azuredevops/pipelines/load-tests.yml
